# Coding Exercises (Part 2)

Now, you will have the opportunity to analyze your own dataset. <br>
__Follow the instructions__ and insert your code! You are either requested to 
- Complete the Code and __Fill in the gaps__. Gaps are marked with "__---__" and are __placeholders__ for your code fragment. 
- Write Code completely __on your own__

In some exercises, you will find questions that can only be answered, if your code is correct and returns the right output! The correct answer is provided below your coding cell. There you can check whether your code is correct

If you need a hint, check the __Hints Section__ at the end of this Notebook. Exercises and Hints are numerated accordingly.

If you need some further help or if you want to check your code, you can also watch the __solutions videos__ or check the __solutions notebook__.

### Have Fun!

--------------------------------------------------------------------------------------------------------------

## Pandas Series an Index Objects

### Exercise 3: Analyzing Columns / Pandas Series

In [ ]:
#run the cell!
import pandas as pd

In [ ]:
#run the cell!
cars = pd.read_csv("cars.csv")

In [ ]:
#run the cell!
cars.head()

In [ ]:
#run the cell!
cars.info()

18. Select the numerical column __"mpg"__, create a __copy__ and __save__ the column/Pandas Series in the variable __mpg__! __Fill in the gaps__!

In [ ]:
mpg = cars.mpg.copy()

In [ ]:
#run the cell!
mpg.head()

19. Get some __summary statistics__ on the Series __mpg__! What is the __mpg__ of the __least fuel efficient__ car?

In [ ]:
mpg.describe()

The mpg of the least fuel efficient car is ... 9.0 miles per gallon!

20. Get the __maximum Value__ in the Series __mpg__ by explicitly calling the ... method! The __most fuel efficient__ car has a __mpg__ of...?

In [ ]:
mpg.max()

The most fuel efficient car has a mpg of... 46.6!

21. Get the Frequency/__Counts__ of all unique __values__ in the Series __mpg__! What is the __most frequent__ value?

In [ ]:
mpg.unique().size
mpg.count()

In [ ]:
mpg.value_counts(normalize=False)

The most frequent value is ... 13.0!

22. Get the __relative frequencies__ in the Series __mpg__! What is the __relative frequency__ of the __most frequent value__?

In [ ]:
mpg.value_counts(normalize=True)

The relative frequency of 13.0 is ... 0.050251!

23. __Sort__ the Series __mpg__ from __low to high__! What is the __second lowest__ value?

In [ ]:
mpg.sort_values(ascending= True).iloc[1]

The second lowest value is ... 10.0!

24. __Sort__ the Series __mpg__ from __high to low__ and __save the changes__ by setting the __inplace__ parameter to __True__!  <br>
__Fill in the gaps!__

In [ ]:
mpg.sort_values(ascending = False, inplace = True)

Inspect the __first 5 elements__ of mpg! What is the __second highest__ value?

In [ ]:
#run the cell!
mpg.head()

The second highest value is ... 44.6!

25. __Sort__ the Series __mpg__ by the __Index__ and __save__ the changes!

In [ ]:
mpg.sort_index(inplace=True)

In [ ]:
#run the cell!
mpg.head(10)

__Miles per Gallon__ (mpg) can be transformed into __Liter per 100 Kilometer__ with the following formula:<br>
__Liter per 100 Kilometer = 235.21 / mpg__<br><br>
26. Create a new Pandas Series __l_per_100__ by applying the above formula! __Round__ the results to __2 decimals__! __Fill in the gaps__!

In [ ]:
l_per_100 = (235.21/mpg).round(2)

Run and Inspect. What is the __very first__ element?

In [ ]:
#run the cell!
l_per_100.head()

The first element is ... 13.07!

27. Get some __summary statistics__ on the Series __l_per_100__! What is the __average__ value?

In [ ]:
l_per_100.describe()

The average value is approx. ... 11.21!

28. Select the non-numerical column __"origin"__, create a __copy__ and __save__ the column/Pandas Series in the variable __origin__!

In [ ]:
origin = cars.origin.copy()

Inspect! The first 5 elements are all...?

In [ ]:
#run the cell!
origin.head()

The first 5 elements are all ... usa!

29. Call the __describe()__ method on the non-numerical Series __"origin"__! What is the __most frequent__ value?

In [ ]:
origin.describe()

The most frequent value is ... usa!

30. Get all __unique values__ in the Series __origin__! Apart from the value usa, there are also the values...?

In [ ]:
origin.unique()

... japan and europe!

31. Last but not least, __count the frequencies__ in the Series __origin__! How often does the value __europe__ appear?

In [ ]:
origin.value_counts()

The value europe appears ... 70 times!

### Exercise 4: Index Operations

In [4]:
#run the cell!
import pandas as pd

In [5]:
#run the cell!
cars = pd.read_csv("cars.csv")

In [ ]:
#run the cell!
cars.head()

In [ ]:
#run the cell!
cars.info()

32. __Select__ the __index__ (row labels) of the DataFrame __cars__! What __kind of index__ do we have?

In [13]:
cars.index

Index(['chevrolet chevelle malibu', 'buick skylark 320', 'plymouth satellite',
       'amc rebel sst', 'ford torino', 'ford galaxie 500', 'chevrolet impala',
       'plymouth fury iii', 'pontiac catalina', 'amc ambassador dpl',
       ...
       'chrysler lebaron medallion', 'ford granada l', 'toyota celica gt',
       'dodge charger 2.2', 'chevrolet camaro', 'ford mustang gl', 'vw pickup',
       'dodge rampage', 'ford ranger', 'chevrolet s-10'],
      dtype='object', name='name', length=398)

ItÂ´s a ... RangeIndex!

33. __Set__ the __"name"__ column as the __new index__ of cars (save the changes)!

In [7]:
cars.set_index('name', inplace=True)

34. __Check__ whether the new index contains __only unique values__ (no duplicates)! Is this the case?

In [12]:
cars.index.unique()

Index(['chevrolet chevelle malibu', 'buick skylark 320', 'plymouth satellite',
       'amc rebel sst', 'ford torino', 'ford galaxie 500', 'chevrolet impala',
       'plymouth fury iii', 'pontiac catalina', 'amc ambassador dpl',
       ...
       'chrysler lebaron medallion', 'ford granada l', 'toyota celica gt',
       'dodge charger 2.2', 'chevrolet camaro', 'ford mustang gl', 'vw pickup',
       'dodge rampage', 'ford ranger', 'chevrolet s-10'],
      dtype='object', name='name', length=300)

No, apparently, there are duplicate entries!

35. __Get__ the __frequency/Counts__ of all unique values in the index! What is the __most frequent__ value?

In [14]:
cars.index.value_counts()

ford pinto                         6
vw rabbit                          5
toyota corolla                     5
amc matador                        5
ford maverick                      5
peugeot 504                        4
amc hornet                         4
chevrolet chevette                 4
chevrolet impala                   4
toyota corona                      4
amc gremlin                        4
plymouth duster                    3
ford galaxie 500                   3
dodge colt                         3
ford gran torino                   3
chevrolet caprice classic          3
vw dasher                          3
plymouth fury iii                  3
pontiac catalina                   3
chevrolet chevelle malibu          3
chevrolet citation                 3
chevrolet vega                     3
chevrolet nova                     3
honda civic                        3
buick century                      2
buick estate wagon (sw)            2
opel 1900                          2
buick skylark                      2
datsun pl510                       2
chevrolet malibu                   2
                                  ..
amc concord d/l                    1
buick century 350                  1
mazda rx2 coupe                    1
renault 18i                        1
vw type 3                          1
ford pinto (sw)                    1
amc rebel sst                      1
dodge aries se                     1
dodge omni                         1
chrysler cordoba                   1
dodge colt hatchback custom        1
amc concord dl                     1
vw rabbit custom diesel            1
mercedes-benz 280s                 1
dodge magnum xe                    1
volvo 264gl                        1
datsun 280-zx                      1
chevrolet cavalier 2-door          1
pontiac sunbird coupe              1
mercury monarch ghia               1
honda prelude                      1
mercury capri 2000                 1
buick regal sport coupe (turbo)    1
datsun 810 maxima                  1
toyota celica gt liftback          1
saab 99gle                         1
chevrolet c20                      1
ford fairmont 4                    1
plymouth satellite sebring         1
oldsmobile cutlass supreme         1
Name: name, Length: 300, dtype: int64

The most frequent value is ... ford pinto!

36. __Set__ the __name__ of the index to __"car_model"__!

In [18]:
cars.index.name='car_model'

In [19]:
#run the cell!
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
car_model,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa

37. __Reset__ the __index__ to a RangeIndex and __save__ the change!

In [20]:
cars.reset_index(inplace= True)

In [21]:
#run the cell!
cars.head()

,car_model,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa

38. __Inspect__ the __column Index__!

In [22]:
cars.columns

Index(['car_model', 'mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin'],
      dtype='object')

39. __Rename__ the column __Labels__ "horsepower" and "origin" to "hp" and "country"! __Fill in  the gaps__!

In [23]:
cars.rename(columns = {"horsepower":"hp", "origin":"country"}, inplace = True)

In [24]:
#run the cell!
cars.head()

,car_model,mpg,cylinders,displacement,hp,weight,acceleration,model_year,country
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa

# Well Done!

------------------------------------------------------------

# Hints (Spoiler!)

18. mpg

19. describe() method

20. max() method

21. value_counts() method

22. normalize parameter

23. sort_values() method

24. ascending & inplace parameter

25. sort_index() method; inplace parameter

26. 235.21/mpg

27. describe() method

28. cars.---.---()

29. describe() method

30. unique() method

31. value_counts() method

32. index attribute

33. set_index() method; inplace parameter

34. call is_unique attribute on index

35. call value_counts() method on index

36. cars.index.---  =  "car_model"

37. reset_index() method; inplace parameter

38. columns attribute

39. rename() method; columns parameter